@import './base.css';

#app {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
}

.main-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.main-content .content {
  padding: 78px 84px 30px 73px;
  min-height: calc(100vh - 70px);
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h1.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 29px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
